:root {
  --font-color: #ffffff;
  --bodybg-color: #ffffff;
  --bg1-color: #000000;
  --bg2-color: #bff0e5;
}

* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0 auto;
  background-color: var(--bodybg-color);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header {
  width: 100%;
  height: 15rem;
  background-color: #000000;
  color: var(--font-color);
  padding: 0rem;
}
.header {
  padding: 2rem;
  text-align: center;
}

h1 {
  font-size: 36px;
}

/* container  on index page */
.container {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  background-color: var(--bg2-color);
  width: 100%;
  gap: 1.25rem;
  padding-top: 2.5rem;
  padding-bottom: 2.75rem;
  flex-wrap: wrap;
}

/* container-items on index page */
.container-items {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* items on idex page */
.item {
  height: 15.5rem;
  width: 20rem;
  border-radius: 1rem;
  background-color: black;
  padding: 1rem;
}

/* button for home  */
.button-home {
  width: 6.5rem;
  height: 2.5rem;
  border-radius: 0.5rem;
  background-color: #000000;
  border: 0.1rem solid #000000;
  box-shadow: 0.3rem 0.2rem #ffffff;
  color: #cc74b8fc;
  margin: 0 auto;
  padding-top: 0.6rem;
  text-align: center;
}
/* button for different pun categories on index page */
.button {
  width: 6.5rem;
  height: 2.5rem;
  border: 0.1rem solid #000000;
  border-radius: 0.5rem;
  margin-top: 1.5rem;
  background-color: #000000;
  text-align: center;
  box-shadow: 0.3rem 0.2rem #1c0857;
}

/* card on herb, cat and celebrity pages */
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--bg2-color);
  width: 100%;
  gap: 1.25rem;
  padding-top: 2.5rem;
  padding-bottom: 2.75rem;
  flex-wrap: wrap;
}

.card-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}
.item-pun {
  padding: 1rem;
}

img {
  height: 100%;
  width: 100%;
  border-radius: 0.5rem;
  object-fit: cover;
  object-position: center;
}

a:link {
  text-decoration: none;
  color: #cc74b8fc;
}
a:visited {
  color: #cc74b8fc;
}

.footer {
  padding: 4rem;
  text-align: center;
  background-color: #000000;
  color: var(--font-color);
}
